<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SEO中国主页</title>
    <link rel="icon" type="image/jpg" href="../static/img/SEO_logo.jpg">

    <!-- link to css style sheet -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/eden.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<nav id="top-nav" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left navbar-header">
            <a class="navbar-brand" href="homepage.html">
                <img src="../static/img/SEO_logo.png" style="height: 50px; width: 50px;">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right text-center">
            <li><a href="homepage.html">首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">关于我们<span class="caret"></span></a>
                <ul class="dropdown-menu text-center">
                    <li><a href="about.html">项目介绍</a></li>
                    <li><a href="about_people.html">团队成员</a></li>
                    <li><a href="about_campus.html">校园网络</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <li><a href="about_company.html">合作企业</a></li>
                </ul>
            </li>
            <li><a href="programs.html">SEO风采</a></li>
            <li><a href="news.html">新闻中心</a></li>
            <li><a href="participate.html">参与SEO</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-md-2 text-center about-nav">
        <div class="row">
            <h3 class="col-md-12">关于我们</h3>
        </div>
        <div class="row">
            <!--<div class="clearfix hidden-xs" style="height: 90px;"></div>-->
            <ul class="hidden-sm nav nav-pills nav-stacked">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation" class="active"><a href="#">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>

            <ul class="visible-sm nav nav-pills nav-justified">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation" class="active"><a href="#">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 container-fluid about-content">
        <div class="row">
            <div class="col-md-12">
                <h1>校园网络</h1>
            </div>
        </div>

        <div class="row">
            <h3 class="col-md-12">合作院校</h3>
        </div>
        <div class="row">
            <img class="col-sm-6 col-xs-6" src="../static/img/about/campus/jg.jpg" alt="清华经管学院">
            <img class="col-sm-6 col-xs-6" src="../static/img/about/campus/gh.jpeg" alt="光华管理学院">
        </div>
        <div class="row">
            <h3 class="col-md-12">骨干培养计划学校</h3>
        </div>
        <div class="hidden-xs">
            <div class="row">
                <img class="col-sm-4" src="../static/img/about/campus/rd.jpg" alt="中国人民大学">
                <img class="col-sm-4" src="../static/img/about/campus/dw.jpg" alt="对外经济贸易大学">
                <img class="col-sm-4" src="../static/img/about/campus/wgy.jpg" alt="北京外国语大学">
            </div>
            <div class="row">
                <img class="col-sm-4 col-sm-offset-2" src="../static/img/about/campus/cd.jpg" alt="中央财经大学">
                <img class="col-sm-4 col-sm-offset-1" src="../static/img/about/campus/sf.jpg" alt="北京师范大学">
            </div>
        </div>
        <div class="visible-xs">
            <div class="row">
                <img class="col-xs-6" src="../static/img/about/campus/rd.jpg" alt="中国人民大学">
                <img class="col-xs-6" src="../static/img/about/campus/dw.jpg" alt="对外经济贸易大学">
                <img class="col-xs-6" src="../static/img/about/campus/wgy.jpg" alt="北京外国语大学">
                <img class="col-xs-6" src="../static/img/about/campus/cd.jpg" alt="中央财经大学">
                <img class="col-xs-6" src="../static/img/about/campus/sf.jpg" alt="北京师范大学">
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <div>
        <a href="homepage.html">SEO首页</a>
        &nbsp;|&nbsp;
        <a href="about.html">关于我们</a>
        &nbsp;|&nbsp;
        <a href="programs.html">SEO风采</a>
        &nbsp;|&nbsp;
        <a href="news.html">新闻中心</a>
        &nbsp;|&nbsp;
        <a href="participate.html">参与SEO</a>
    </div>
    <br/>
    <div>
        <span>联系我们：</span>
        <a href="mailto:contact@seo-china.org">
            <span>seo-china@seo-china.org</span>
        </a>
    </div>

    <div>
        <span>微信公众号：</span>
        <span>SEOChina2006</span>
    </div>
</footer>

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
