{% extends 'template.html' %}

{% block title %}
    SEO中国 - 关于我们
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-2 text-center about-nav">
        <div class="row">
            <h3 class="col-md-12">关于我们</h3>
        </div>
        <div class="row">
            <!--<div class="clearfix hidden-xs" style="height: 90px;"></div>-->
            <ul class="hidden-sm nav nav-pills nav-stacked">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation" class="active"><a href="#">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>

            <ul class="visible-sm nav nav-pills nav-justified">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation" class="active"><a href="#">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 container-fluid about-content">
        <div class="row">
            <div class="col-md-12">
                <h1>校园网络</h1>
            </div>
        </div>

        <div class="row">
            <h3 class="col-md-12">合作院校</h3>
        </div>
        <div class="row">
            <img class="col-sm-6 col-xs-6" src="../static/img/about/campus/jg.jpg" alt="清华经管学院">
            <img class="col-sm-6 col-xs-6" src="../static/img/about/campus/gh.jpeg" alt="光华管理学院">
        </div>
        <div class="row">
            <h3 class="col-md-12">骨干培养计划学校</h3>
        </div>
        <div class="hidden-xs">
            <div class="row">
                <img class="col-sm-4" src="../static/img/about/campus/rd.jpg" alt="中国人民大学">
                <img class="col-sm-4" src="../static/img/about/campus/dw.jpg" alt="对外经济贸易大学">
                <img class="col-sm-4" src="../static/img/about/campus/wgy.jpg" alt="北京外国语大学">
            </div>
            <div class="row">
                <img class="col-sm-4 col-sm-offset-2" src="../static/img/about/campus/cd.jpg" alt="中央财经大学">
                <img class="col-sm-4 col-sm-offset-1" src="../static/img/about/campus/sf.jpg" alt="北京师范大学">
            </div>
        </div>
        <div class="visible-xs">
            <div class="row">
                <img class="col-xs-6" src="../static/img/about/campus/rd.jpg" alt="中国人民大学">
                <img class="col-xs-6" src="../static/img/about/campus/dw.jpg" alt="对外经济贸易大学">
                <img class="col-xs-6" src="../static/img/about/campus/wgy.jpg" alt="北京外国语大学">
                <img class="col-xs-6" src="../static/img/about/campus/cd.jpg" alt="中央财经大学">
                <img class="col-xs-6" src="../static/img/about/campus/sf.jpg" alt="北京师范大学">
            </div>
        </div>
    </div>
</div>

{% endblock %}
