{% extends 'template.html' %}

{% block title %}
    SEO中国 - 关于我们
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-2 text-center about-nav">
        <div class="row">
            <h3 class="col-md-12">关于我们</h3>
        </div>
        <div class="row">
            <!--<div class="clearfix hidden-xs" style="height: 90px;"></div>-->
            <ul class="hidden-sm nav nav-pills nav-stacked">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation" class="active"><a href="#">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>

            <ul class="visible-sm nav nav-pills nav-justified">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation" class="active"><a href="#">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 container-fluid about-content">
        <div class="row">
            <div class="col-md-12">
                <h1>校园网络</h1>
            </div>
        </div>

        <div class="row">
            <h3 class="col-md-12">合作院校</h3>
        </div>
        <div class="row">
            <img class="col-sm-6 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/69758140-file_1489046624699_4524.jpg" alt="清华经管学院">
            <img class="col-sm-6 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/24374092-file_1489046624579_182a3.jpg" alt="光华管理学院">
        </div>
        <div class="row">
            <h3 class="col-md-12">骨干培养计划学校</h3>
        </div>
        <div class="hidden-xs">
            <div class="row">
                <img class="col-sm-4" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/50825396-file_1489046624837_10a59.jpg" alt="中国人民大学">
                <img class="col-sm-4" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/49460575-file_1489046624467_af3f.jpg" alt="对外经济贸易大学">
                <img class="col-sm-4" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/86469833-file_1489046625073_18386.jpg" alt="北京外国语大学">
            </div>
            <div class="row">
                <img class="col-sm-4 col-sm-offset-2" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/62174845-file_1489046624328_6267.jpg" alt="中央财经大学">
                <img class="col-sm-4 col-sm-offset-1" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/16903411-file_1489046624956_17aa6.jpg" alt="北京师范大学">
            </div>
        </div>
        <div class="visible-xs">
            <div class="row">
                <img class="col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/50825396-file_1489046624837_10a59.jpg" alt="中国人民大学">
                <img class="col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/49460575-file_1489046624467_af3f.jpg" alt="对外经济贸易大学">
                <img class="col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/86469833-file_1489046625073_18386.jpg" alt="北京外国语大学">
                <img class="col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/62174845-file_1489046624328_6267.jpg" alt="中央财经大学">
                <img class="col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/16903411-file_1489046624956_17aa6.jpg" alt="北京师范大学">
            </div>
        </div>
    </div>
</div>

{% endblock %}
