{% extends 'template.html' %}

{% block title %}
    SEO中国 - 关于我们
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-2 text-center about-nav">
        <div class="row">
            <h3 class="col-md-12">关于我们</h3>
        </div>
        <div class="row">
            <!--<div class="clearfix hidden-xs" style="height: 90px;"></div>-->
            <ul class="hidden-sm nav nav-pills nav-stacked">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation"><a href="about_campus.html">校园网络</a></li>
                <li role="presentation" class="active"><a href="#">合作企业</a></li>
            </ul>

            <ul class="visible-sm nav nav-pills nav-justified">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation"><a href="about_campus.html">校园网络</a></li>
                <li role="presentation" class="active"><a href="#">合作企业</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 container-fluid about-content">
        <div class="row">
            <div class="col-md-12">
                <h1>合作企业</h1>
            </div>
        </div>

        <div class="row">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/26120818-file_1489046953119_7c1b.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/74634078-file_1489046952875_13bd3.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/31965713-file_1489046953480_e56f.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/41083216-file_1489046953355_812e.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/59912586-file_1489046953624_154e2.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/25376719-file_1489046953237_59c4.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/87949508-file_1489046953003_12929.jpg">

            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/61575752-file_1489046968800_287a.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/42248259-file_1489046968920_14583.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/81451004-file_1489046969041_a22c.jpg">
            <img class="col-sm-4 col-xs-6" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/43910586-file_1489046969177_71c7.jpg">
        </div>
    </div>
</div>

{% endblock %}
