{% extends 'template.html' %}

{% block title %}
    SEO中国 - 关于我们
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-2 text-center about-nav">
        <div class="row">
            <h3 class="col-md-12">关于我们</h3>
        </div>
        <div class="row">
            <!--<div class="clearfix hidden-xs" style="height: 90px;"></div>-->
            <ul class="hidden-sm nav nav-pills nav-stacked">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation" class="active"><a href="#">团队成员</a></li>
                <li role="presentation"><a href="about_campus.html">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>

            <ul class="visible-sm nav nav-pills nav-justified">
                <li role="presentation"><a href="about.html">项目介绍</a></li>
                <li role="presentation" class="active"><a href="#">团队成员</a></li>
                <li role="presentation"><a href="about_campus.html">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 container-fluid about-content">
        <div class="row">
            <div class="col-md-12">
                <h1>团队成员</h1>
            </div>
        </div>

        <ul class="news-list">
            <li class="media row">
                <img class="pull-left col-xs-4 media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/69466838-file_1489047210229_146f6.jpg" alt="Thomas Tsao">
                <div class="media-body">
                    <h3 class="media-heading">曹嘉泰&nbsp;
                        <small>Thomas Tsao</small>
                    </h3>
                    <p>Tom是SEO纽约1991届校友，也是SEO中国的创始人。</p>
                    <p>
                        Tom在1991年还在美国哈佛大学读书的时候参加了SEO纽约项目，获得了在纽约华尔街投资银行实习的机会。2006年回到中国的Tom，秉着回馈SEO、回馈社会的理念，有感于中国社会社会资本分配不均的现状，成立了SEO中国。</p>
                    <p>在过去10年中，Tom和他所创立的国内领先、专注于TMT行业的风险投资机构，戈壁合伙人，一直支持SEO中国，为过百名优秀大学生提供了进入金融领域的机会，并改变了他们的命运。</p>
                </div>
            </li>
            <li class="media row">
                <img class="pull-left col-xs-4 media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-12/87793755-file_1489304092385_bff4.jpg" alt="Suhai Ji">
                <div class="media-body">
                    <h3 class="media-heading">季苏海&nbsp;
                        <small>Suhai Ji</small>
                    </h3>
                    <p>季苏海是SEO纽约1997届校友，并于2001年创立了SEO香港项目，为众多优秀大学生提供了在香港顶尖投行实习的机会。</p>
                    <p>苏海拥有多年投行经验、曾就职纽交所，并两次成功带领中国公司海外IPO。他长期参与SEO中国项目，分享个人职业发展历程，帮助SEO学员成功进入职场。</p>
                    <p>苏海毕业于美国布兰迪斯大学，获得经济学学士，并且是哥伦比亚大学商学院的工商管理学硕士。</p>
                </div>
            </li>
            <li class="media row">
                <img class="pull-left col-xs-4 media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/83130731-file_1489047209720_11f6d.jpg" alt="Helen Guan">
                <div class="media-body">
                    <h3 class="media-heading">关雪&nbsp;
                        <small>Helen Guan</small>
                    </h3>
                    <p>关雪是SEO中国的项目总监，负责管理SEO中国的各项事务。</p>
                    <p>
                        在加入SEO中国前，关雪曾就职于麦肯锡公司和微软（中国）战略和业务发展部。关雪是SEO纽约2007届校友，有感于SEO中国的社会使命，关雪决定加入SEO中国，成为SEO中国的第一位全职员工。</p>
                    <p>关雪毕业于美国韦尔斯利女子学院，是沃顿商学院的工商管理学硕士和哈佛肯尼迪政府学院的公共管理学硕士。</p>
                </div>
            </li>
            <li class="media row">
                <img class="pull-left col-xs-4 media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/80088918-file_1489047209993_141e0.jpg" alt="Nancy Yu">
                <div class="media-body">
                    <h3 class="media-heading">俞凤英&nbsp;
                        <small>Nancy Yu</small>
                    </h3>
                    <p>Nancy曾就职于戈壁合伙人，并由此接触到SEO中国。</p>
                    <p>十年来，Nancy一直协助SEO项目的运营，目睹了SEO中国从无到有，从发展到壮大的全过程，陪伴一批批校友走出校园，成功走入社会。</p>
                    <p>Nancy毕业于上海财经大学。</p>
                </div>
            </li>
            <li class="media row">
                <img class="pull-left col-xs-4 media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/86575099-file_1489047209876_ec6f.jpg" alt="Christine Hu">
                <div class="media-body">
                    <h3 class="media-heading">胡琼&nbsp;
                        <small>Christine Hu</small>
                    </h3>
                    <p>胡琼是SEO中国的财务总监，负责SEO中国的财务和法务事宜。</p>
                    <p>胡琼曾就职于安永华明会计师事务所，目前就职于光大集团下属的股权投资公司。</p>
                    <p>胡琼是SEO中国2006届校友，毕业于北京大学光华管理学院，拥有中国注册会计师资格，希望利用自己的专业能力帮助SEO中国的运营和发展。</p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
