<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SEO中国 - 关于我们</title>
    <link rel="icon" type="image/jpg" href="../static/img/SEO_logo.jpg">

    <!-- link to css style sheet -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/eden.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<nav id="top-nav" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left navbar-header">
            <a class="navbar-brand" href="index.html">
                <img src="../static/img/SEO_logo.png" style="height: 50px; width: 50px;">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">关于我们<span class="caret"></span></a>
                <ul class="dropdown-menu text-center">
                    <li><a href="about.html">项目介绍</a></li>
                    <li><a href="about_people.html">团队成员</a></li>
                    <li><a href="about_campus.html">校园网络</a></li>
                    <li><a href="about_company.html">合作企业</a></li>
                </ul>
            </li>
            <li><a href="programs.html">SEO风采</a></li>
            <li><a href="news.html">新闻中心</a></li>
            <li><a href="participate.html">参与SEO</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-md-2 text-center about-nav">
        <div class="row">
            <h3 class="col-md-12">关于我们</h3>
        </div>
        <div class="row">
            <!--<div class="clearfix hidden-xs" style="height: 90px;"></div>-->
            <ul class="hidden-sm nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation"><a href="about_campus.html">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>

            <ul class="visible-sm nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="#">项目介绍</a></li>
                <li role="presentation"><a href="about_people.html">团队成员</a></li>
                <li role="presentation"><a href="about_campus.html">校园网络</a></li>
                <li role="presentation"><a href="about_company.html">合作企业</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 container-fluid about-content">
        <div class="row">
            <div class="col-md-12">
                <h1>项目介绍</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>SEO起源</h3>
                <p>SEO于1963年在纽约成立，致力于为弱势青年群体提供最佳的受教育和就业机会，以使他们在求学、成才中的成功几率最大化，并培养新一代的领袖。</p>
                <p>SEO下分设 “SEO奖学金项目”（旨在为弱势高中生群体提供辅助教育，帮助他们完成“大学梦”），和“SEO职业发展项目”（旨在为少数族裔杰出大学生提供可获得全职工作机会的暑假实习机会）。</p>
                <p>
                    自项目实施以来，SEO，特别是“SEO职业发展项目”获得了巨大的成就。通过系统化的职业技能和领导力培训，SEO每年吸引近500所学校的5000名学生申请，为近300名学生提供宝贵的实习机会，并有75%的同学能在暑期实习后直接获得全职聘书。</p>
                <p>SEO合作企业包括高盛、美林、瑞银等全球一流投资银行、律师事务所和非营利性组织。在美国，SEO对增进雇员多样性、消除种族机会不平等、打破少数族裔人群职业发展的天花板起到了不可磨灭的作用。</p>
                <p>2014年，KKR公司董事长兼首席执行官Henry
                    Kravis先生正式成为SEO董事会主席。同年，SEO年捐赠额达到了近1500万美元。如今，SEO已通过校友网络在伦敦、越南、非洲加纳、中国建立了多个分支机构。</p>
            </div>
            <div class="col-sm-6">
                <h3>成立背景</h3>
                <p>
                    当今中国社会贫富差距明显，对弱势大学生的帮扶也往往仅聚焦在资金层面上，忽略了他们从校园步入社会的这一关键环节。事实上，由于社会资本的分配不均，很多来自不发达地区或家庭经济状况较差的学生，由于缺少父母的指引与支持，难以尽早建立明确的职业规划并按部就班地培养自身步入社会的能力，最终未能实现自己的理想和抱负。</p>
                <p>
                    SEO中国由SEO纽约校友曹嘉泰先生于2006年发起。我们希望通过系统的职业培训，为贫困学生提供平等竞争的机会和改变命运的平台，向“寒门再难出贵子”说不。我们深信只有整个社会协同合作，给来自底层的最有希望的优秀青年一条通往成功的道路，让他们成为社会的榜样，回馈社会，才能真正长期解决贫困与不平等这类社会问题，实现共同富裕。</p>
            </div>
            <div class="col-sm-6">
                <h3>愿景与目标</h3>
                <p>
                    SEO中国希望通过系统的职业技能和领导力培训以及同企业的紧密合作，消除社会资本分配不均在大学生成长过程中所带来的机会不平等，让所有大学生能最大限度发挥其潜质，从而激发青年群体的上进心和社会责任感，促进社会流动性。</p>
                <p>
                    未来三年中（2016-2018），SEO中国将直接培训250名来自不发达地区和贫困家庭的学生，帮助大部分学员获得心仪的岗位，彻底消除这些学生和其他同龄人的收入差距，并为项目进一步拓展探索出一套可复制的模式。</p>
            </div>
            <div class="col-sm-6">
                <h3>项目模式</h3>
                <p>
                    SEO中国与高校官方合作，招募来自偏远地区和家庭经济状况不好的学生。而后通过长达三学期的课程培训和导师辅导，帮助学生确立职业发展方向，建立求职和职业技能，全方面提升学生素质与能力。SEO的课程使得通常对于弱势大学生群体“遥不可及”的职业变得不再遥远。同时，导师项目为学生们提供了重要的精神支持，帮助他们走出舒适区，不断完善自己。最后，SEO中国通过与企业的合作，为学生提供实习与雇用机会，从而彻底消除弱势大学生在求职过程中面临的机会不平等。</p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <div>
        <a href="index.html">SEO首页</a>
        &nbsp;|&nbsp;
        <a href="about.html">关于我们</a>
        &nbsp;|&nbsp;
        <a href="programs.html">SEO风采</a>
        &nbsp;|&nbsp;
        <a href="news.html">新闻中心</a>
        &nbsp;|&nbsp;
        <a href="participate.html">参与SEO</a>
    </div>
    <br/>
    <div>
        <span>联系我们：</span>
        <a href="mailto:contact@seo-china.org">
            <span>seo-china@seo-china.org</span>
        </a>
    </div>

    <div>
        <span>微信公众号：</span>
        <span>SEOChina2006</span>
    </div>
</footer>

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
