<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SEO中国主页</title>
    <link rel="icon" type="image/jpg" href="../static/img/SEO_logo.jpg">

    <!-- link to css style sheet -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/eden.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<nav id="top-nav" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left navbar-header">
            <a class="navbar-brand" href="index.html">
                <img src="../static/img/SEO_logo.png" style="height: 50px; width: 50px;">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">关于我们<span class="caret"></span></a>
                <ul class="dropdown-menu text-center">
                    <li><a href="about.html">项目介绍</a></li>
                    <li><a href="about_people.html">团队成员</a></li>
                    <li><a href="about_campus.html">校园网络</a></li>
                    <li><a href="about_company.html">合作企业</a></li>
                </ul>
            </li>
            <li><a href="programs.html">SEO风采</a></li>
            <li><a href="news.html">新闻中心</a></li>
            <li><a href="participate.html">参与SEO</a></li>
        </ul>
    </div>
</nav>

<div class="hero">
    <div class="container-fluid title-text">
        <h1>SEO China</h1>
        <p>SEO中国成立于2006年，旨在通过系统的职业技能和领导力培训，和与富有社会责任感的企业紧密合作，
            消除在大学生成长过程中由于社会资本分配不均带来的机会不平等，让所有大学生能最大限度发挥其潜质，
            从而激发中国青年群体的上进心和社会责任感，促进社会流动性。</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h3>新闻中心</h3>
            </div>
            <ul class="news-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/21271050-file_1489048564193_ba90.jpg" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA4MDM2OTYyOA==&mid=401802632&idx=1&sn=7dd2dd46f125454d1c124662634f65b7&scene=1&srcid=0926ujnZohGgmvkIzrn6VvHM#rd">
                                活动回顾&nbsp;|&nbsp;导师见面会暨校友聚会圆满结束</a>
                        </h4>
                        <p>2016-09-11</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-9/47808796-file_1489048564318_7dbe.jpg" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA4MDM2OTYyOA==&mid=401802632&idx=2&sn=d650bb12359ec6c49d8a1f3ebf3c293c&scene=1&srcid=0926Y9A4jgzzkUxzX3WwxcKk#rd">
                                SEO China成立十周年庆典及相关活动精彩回顾</a>
                        </h4>
                        <p>2016-09-11</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://omje9d8g0.bkt.clouddn.com/17-3-12/51402975-file_1489303738963_14cbb.jpg" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA4MDM2OTYyOA==&mid=401802632&idx=3&sn=554778083d11f40c3b9f1fbb9afc5891&scene=1&srcid=0926Z7LO6Arl7h7blIGStxB1#rd">
                                新闻速递&nbsp;|&nbsp;SEO全球创始人Micheal Osheowitz先生一行访问清华大学</a>
                        </h4>
                        <p>2016-09-11</p>
                    </div>
                </li>
            </ul>
            <a class="pull-right" href="news.html">更多新闻&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h3>宣传视频</h3>
            </div>
            <div class="well">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <video width="768" height="460" controls>
                        <source src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=v0382vjnonr&auto=0" type="video/mp4">
                        您的浏览器不支持播放视频。
                    </video> -->
                    <iframe frameborder="0" width="640" height="498" src="https://v.qq.com/iframe/player.html?vid=v0382vjnonr&tiny=0&auto=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <div>
        <a href="index.html">SEO首页</a>
        &nbsp;|&nbsp;
        <a href="about.html">关于我们</a>
        &nbsp;|&nbsp;
        <a href="programs.html">SEO风采</a>
        &nbsp;|&nbsp;
        <a href="news.html">新闻中心</a>
        &nbsp;|&nbsp;
        <a href="participate.html">参与SEO</a>
    </div>
    <br/>
    <div>
        <span>联系我们：</span>
        <a href="mailto:contact@seo-china.org">
            <span>seo-china@seo-china.org</span>
        </a>
    </div>

    <div>
        <span>微信公众号：</span>
        <span>SEOChina2006</span>
    </div>
</footer>

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
