{% extends 'template.html' %}

{% block title %}
    SEO中国 - 新闻中心
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row" style="margin-bottom: 50px;">
            <h1>新闻中心</h1>
        </div>

        <div class="row">
            <img class="col-sm-4" src="../static/img/news/new1.jpg" alt="">
            <div class="col-sm-8">
                <h3>活动回顾 | 导师见面会暨校友聚会圆满结束</h3>
                <p>
                    9月4日下午，SEO中国导师学员见面会暨校友聚会于北京银杏公益空间举办。SEO中国项目总监Helen，SEO香港创始人季苏海，部分职业导师和二十余位SEO学员参加了聚会。
                    聚会开始，由SEO香港创始人季苏海给大家分享了自己的职业经历和SEO纽约项目经历，介绍SEO全球项目的起源与发展，解读SEO使命。
                    之后由SEO中国项目总监Helen介绍SEO中国项目详情，回顾了中国项目的历史，阐述了SEO现在的培养模式，并对未来发展做出了期望与规划。
                    最后，学员们与导师在亲切而轻松的氛围中自由交流，学员向导师了解行业情况和工作日常，导师也分享了自己工作相关的内容，就学员情况给出了一些建议。
                </p>
                <a class="pull-right"
                   href="http://mp.weixin.qq.com/s?__biz=MzA4MDM2OTYyOA==&mid=401802632&idx=1&sn=7dd2dd46f125454d1c124662634f65b7&scene=1&srcid=0926ujnZohGgmvkIzrn6VvHM#rd">
                    阅读全文&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <img class="col-sm-4" src="../static/img/news/new2.jpg" alt="">
            <div class="col-sm-8">
                <h3>SEO China成立十周年庆典及相关活动精彩回顾</h3>
                <p>
                    10月11日下午2时，SEOChina 成立10周年庆典在北京凯宾斯基酒店二楼开封厅正式举行。SEO历届校友齐聚一堂，共同庆祝这个具有纪念意义的时刻，SEO全球创始人、EdwinGould
                    Foundation for Children荣誉主席Michael Osheowitz、SEO Hong
                    Kong创始人、达内教育首席财务官季苏海先生、SEOChina创始人、戈壁投资咨询（上海）有限公司联合创始人曹嘉泰先生及项目核心成员均出席了本次庆典。庆典由SEO2007级校友、熊猫资本市场总监王晓婕小姐主持。
                    整个庆典活动由播放十周年纪念视频拉开序幕。这部由SEO校友自编自演，由专业人士导演剪辑的视频通过以一名SEO普通学子的视角，阐述了SEO的组织定为、终极使命及社会责任感，号召并期待所有校友合力参与，共创SEO繁荣未来，播放后收到了来自所有到场校友的强烈反响。
                </p>
                <a class="pull-right"
                   href="http://mp.weixin.qq.com/s?__biz=MzA4MDM2OTYyOA==&mid=401802632&idx=2&sn=d650bb12359ec6c49d8a1f3ebf3c293c&scene=1&srcid=0926Y9A4jgzzkUxzX3WwxcKk#rd">
                    阅读全文&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <img class="col-sm-4" src="../static/img/news/new3.jpg" alt="">
            <div class="col-sm-8">
                <h3>SEO China成立十周年庆典及相关活动精彩回顾</h3>
                <p>在SEO中国10周年/SEO香港15周年庆典之际，SEO全球创始人Micheal
                    Osheowitz和SEO香港创始人季苏海一行访问清华大学，清华大学副校长杨斌在工字厅会见SEO来宾，双方就学生职业发展和领导力培养达成共识，希望未来进行更紧密合作。
                    10月13日，SEO全球创始人Micheal Osheowitz先生一行访问清华大学，副校长杨斌在工字厅会见了来宾。SEO 香港创始人季苏海先生及学生代表参加了会见。
                    Micheal Osheowitz首先介绍了SEO全球项目以及SEO中国项目的发起缘由和发展历程，该项目致力于通过系统的职业培训，为学生提供平等竞争的机会和改变命运的平台。
                    杨斌对SEO的理念和行动表示赞赏，他介绍了清华大学为学生职业发展所提供的帮助和相关资源，就合作方式提出了建议。
                </p>
                <a class="pull-right"
                   href="http://mp.weixin.qq.com/s?__biz=MzA4MDM2OTYyOA==&mid=401802632&idx=3&sn=554778083d11f40c3b9f1fbb9afc5891&scene=1&srcid=0926Z7LO6Arl7h7blIGStxB1#rd">
                    阅读全文&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

{% endblock %}
