{% extends 'template.html' %}

{% block title %}
    SEO中国 - 关于我们
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row" style="margin-bottom: 20px;">
            <h1>参与SEO</h1>
        </div>

        <div class="col-md-8 col-md-offset-2 table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>合作模式</th>
                    <th>对合作方的价值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>职场精英/<br>培训机构</b></td>
                    <td>
                        <ul>
                            <li>成为SEO学员的导师</li>
                            <li>参与SEO培训的课程</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>收获帮助和陪伴学员成长的过程和体验</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>学生社团/<br>职发中心</b></td>
                    <td>
                        <ul>
                            <li>加入SEO“骨干培养”计划，选拔校内骨干参加SEO的培训导师项目，并完成其元校内对目标大学生的培训</li>
                            <li>协助SEO及SEO合作企业开展校园活动</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>提高职业发展社团的水平和标准，参与更系统化的职业技能和领导力培训，对接更多宝贵社会资源</li>
                            <li>补充学校职业发展中心已有项目和资源，更好帮助学生就业</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>合作企业</b></td>
                    <td>
                        <ul>
                            <li>为SEO学员提供实习岗位，帮助SEO学员在实践中成长</li>
                            <li>SEO可按企业需求协助完成实习生招募、筛选工作</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>减少企业人力投入（如：举办校园宣讲会、组织面试等）</li>
                            <li>获得优秀、踏实、肯干的人才储备</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>赞助企业/<br>个人</b></td>
                    <td>
                        <ul>
                            <li>为SEO发展提供资金支持</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>扩大企业影响力</li>
                            <li>为消除社会资本分配不均、机会不平等贡献一份力量</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
