<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SEO中国主页</title>
    <link rel="icon" type="image/jpg" href="../static/img/SEO_logo.jpg">

    <!-- link to css style sheet -->
    <link rel="stylesheet" href="../static/css/seoStyle.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/eden.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<nav id="top-nav" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left navbar-header">
            <a class="navbar-brand" href="homepage.html">
                <img src="../static/img/SEO_logo.png" style="height: 50px; width: 50px;">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="homepage.html">首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">关于我们<span class="caret"></span></a>
                <ul class="dropdown-menu text-center">
                    <li><a href="about.html">项目介绍</a></li>
                    <li><a href="about_people.html">团队成员</a></li>
                    <li><a href="about_campus.html">校园网络</a></li>
                    <li><a href="about_company.html">合作企业</a></li>
                </ul>
            </li>
            <li><a href="programs.html">SEO风采</a></li>
            <li><a href="news.html">新闻中心</a></li>
            <li><a href="participate.html">参与SEO</a></li>
        </ul>
    </div>
</nav>

<main>
    <!--The "program_graph" section, first part of the main content section,
    will be some images about general logistics of the program to aid the understanding of it.-->
    <section class="program_graph">
        <!--A subtitle that points out what programs this page is talking about.-->
        <div class="program_title">
            <h1>SEO风采</h1>
        </div>

        <!--The following div contains images and explanatory texts along with them.-->
        <div id="graphs">
            <div id="map">
                <img src="../static/img/programs/map.jpg" alt="">
            </div>
        </div>
    </section>

    <!--The following section introduces different components of the program.-->
    <section class="program_description">
        <div class="program_subtitle">
            <h1>导师风采</h1>
        </div>
        <div class="program_line center"></div><!--Need a line to seperate the previous section and this section.-->

        <div class="row_person_4">
            <div class="person_all">
                <img src="../static/img/programs/1.jpg" alt="" class="image_center">
                <div class="person_desc">陈驰</div>
                <div class="person_desc">康颐(北京)养老服务有限公司</div>
                <div class="person_desc">董事长兼合伙人</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/2.jpg" alt="" class="image_center">
                <div class="person_desc">胡琼</div>
                <div class="person_desc">光大实业资本管理有限公司</div>
                <div class="person_desc">总经理助理</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/3.jpg" alt="" class="image_center">
                <div class="person_desc">金梦</div>
                <div class="person_desc">瑞士瑞信银行香港办公室</div>
                <div class="person_desc">副总裁</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/4.jpg" alt="" class="image_center">
                <div class="person_desc">逯慧敏</div>
                <div class="person_desc">微软</div>
                <div class="person_desc">战略经理</div>
            </div>
        </div>
        <div class="row_person_4">
            <div class="person_all">
                <img src="../static/img/programs/5.jpg" alt="" class="image_center">
                <div class="person_desc">黎路</div>
                <div class="person_desc">春华资本集团</div>
                <div class="person_desc">投资经理</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/6.jpg" alt="" class="image_center">
                <div class="person_desc">刘毅</div>
                <div class="person_desc">上海天地人和创业投资有限公司</div>
                <div class="person_desc">副总裁，投资决策委员会委员</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/7.jpg" alt="" class="image_center">
                <div class="person_desc">王雨希</div>
                <div class="person_desc">淡马锡北京办公室</div>
                <div class="person_desc">副总裁</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/8.jpg" alt="" class="image_center">
                <div class="person_desc">许之令</div>
                <div class="person_desc">美银美林香港办公室</div>
                <div class="person_desc">环球资本市场部分析师</div>
            </div>
        </div>
        <div class="row_person_4">
            <div class="person_all">
                <img src="../static/img/programs/9.jpg" alt="" class="image_center">
                <div class="person_desc">姚夏圯</div>
                <div class="person_desc">永柏投资管理有限公司</div>
                <div class="person_desc">投资经理</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/10.jpg" alt="" class="image_center">
                <div class="person_desc">王缀</div>
                <div class="person_desc">世邦魏理仕</div>
                <div class="person_desc">企业发展部分析员</div>
            </div>
            <div class="person_all">
                <img src="../static/img/programs/11.jpg" alt="" class="image_center">
                <div class="person_desc">刘莹</div>
                <div class="person_desc">北京春雨天下软件有限公司</div>
                <div class="person_desc">助理CFO</div>
            </div>
        </div>

    </section>

</main>

<!-- Footer -->
<footer class="text-center">
    <div>
        <a href="homepage.html">SEO首页</a>
        &nbsp;|&nbsp;
        <a href="about.html">关于我们</a>
        &nbsp;|&nbsp;
        <a href="programs.html">SEO风采</a>
        &nbsp;|&nbsp;
        <a href="news.html">新闻中心</a>
        &nbsp;|&nbsp;
        <a href="participate.html">参与SEO</a>
    </div>
    <br/>
    <div>
        <span>联系我们：</span>
        <a href="mailto:contact@seo-china.org">
            <span>seo-china@seo-china.org</span>
        </a>
    </div>

    <div>
        <span>微信公众号：</span>
        <span>SEOChina2006</span>
    </div>
</footer>

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
