{% extends 'template.html' %}

{% block title %}
    SEO中国 - SEO风采
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h1>导师风采</h1>
        </div>
        <div class="row people-list">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/73285172-file_1489047355834_e4f9.jpg" alt="">
                        <h5>陈驰</h5>
                        <p>康颐(北京)养老服务有限公司<br>
                            董事长兼合伙人</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/86575099-file_1489047209876_ec6f.jpg" alt="" class="image_center">
                        <h5>胡琼</h5>
                        <p>光大实业资本管理有限公司<br>
                            总经理助理</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/13521850-file_1489047391471_18532.jpg" alt="" class="image_center">
                        <h5>金梦</h5>
                        <p>瑞士瑞信银行香港办公室<br>
                            副总裁</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/66370904-file_1489047391600_cd9a.jpg" alt="" class="image_center">
                        <h5>逯慧敏</h5>
                        <p>微软<br>
                            战略经理</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/39214237-file_1489047418985_1051f.jpg" alt="" class="image_center">
                        <h5>黎路</h5>
                        <p>春华资本集团<br>
                            投资经理</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/15617846-file_1489047419117_84dc.jpg" alt="" class="image_center">
                        <h5>刘毅</h5>
                        <p>上海天地人和创业投资有限公司<br>
                            副总裁，投资决策委员会委员</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/54281084-file_1489047448155_11902.jpg" alt="" class="image_center">
                        <h5>王雨希</h5>
                        <p>淡马锡北京办公室<br>
                            副总裁</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/71452890-file_1489047448272_f736.jpg" alt="" class="image_center">
                        <h5>许之令</h5>
                        <p>美银美林香港办公室<br>
                            环球资本市场部分析师</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/66438597-file_1489047489013_b40c.jpg" alt="" class="image_center">
                        <h5>姚夏圯</h5>
                        <p>永柏投资管理有限公司<br>
                            投资经理</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/48219102-file_1489047489151_7b4b.jpg" alt="" class="image_center">
                        <h5>王缀</h5>
                        <p>世邦魏理仕<br>
                            企业发展部分析员</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="aspect-ratio-wrapper">
                    <div class="wrapper-content">
                        <img src="http://omje9d8g0.bkt.clouddn.com/17-3-9/22539484-file_1489047513220_157c4.jpg" alt="" class="image_center">
                        <h5>刘莹</h5>
                        <p>北京春雨天下软件有限公司<br>
                            助理CFO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
